<section class="pricing py-5">
  <%= form_for @quiz, url: quizzes_answer_one_path, method: :post do |f| %>
  <div class="container">
      <div class="row">
        <%= f.fields_for :quiz_ratings, @quiz_ratings do |rating_fields| %>
        <div class="col-md-2 ml-md-auto mr-md-auto">
          <div class="card mb-5">
            <div class="card-body">
              <!-- <h5 class="card-title text-muted text-uppercase text-center">Free</h5> -->
              <div class="inner-card-text">
                <span><h6 class="text-center"><%= rating_fields.object.drink.name %></h6></span>
              </div>
              <hr>
              <!-- <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul> -->
              <div class="row">
                  <%= rating_fields.hidden_field :drink_id %>
                  <%= rating_fields.collection_radio_buttons(:score, [[1, 'thumbs-up'], [-1, 'thumbs-down']], :first, :last) do |b| %>
                  <%= b.label(class: "btn") { b.radio_button + image_tag(b.text+'.png') } %>
                  <% end %>

              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
  <div class="container submit-container">
    <%= f.submit "Finished? Let's move to the next question!", class: "btn btn-lg btn-success" %>
  </div>
  <% end %>
</section>

<% if current_user == "impossible" %>
<a href="#" class="btn btn-success text-uppercase"><%= image_tag("thumbs-up.png") %></a>
<a href="#" class="btn btn-danger text-uppercase"><%= image_tag("thumbs-down.png") %></a>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
     $(".pricing .card").on("click",function() {
          if($(this).find('input[value=1]').is(':checked')) {
            $(this).closest('.card').removeClass('highlight-red');
            $(this).closest('.card').addClass('highlight-green');
          }
      });
  });

  $(document).ready(function() {
     $(".pricing .card").on("click",function() {
          if($(this).find('input[value=-1]').is(':checked')) {
            $(this).closest('.card').removeClass('highlight-green');
            $(this).closest('.card').addClass('highlight-red');
          }
      });
  });

</script>
