<section class="pricing py-5">
  <%= form_for @quiz, url: quizzes_answer_two_path do |f| %>

  <div class="container">

    <div class="row mt-2 mb-5">
      <div class="col-md-10 offset-md-1">
        <div class="inner-card-text">
          <h2 class="text-center text-white">It's hard to describe drinks sometimes,<br>but if you had to choose one of these words to articulate<br>the flavor profile you're craving, what would it be?
            </h2>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 offset-md-1">
        <div class="card mb-5">
          <label for="quiz_flavor_profile_id_1" >
            <div class="card-body">
              <div class="inner-card-text">
                <input id="quiz_flavor_profile_id_1" type="radio" name="quiz[flavor_profile_id]" value="1">
                <h3 class="text-center"><%= @flavor_profiles[0].name %>
                  </h3>
              </div>
            </div>
          </label>
        </div>
      </div>

      <div class="col-md-4 offset-md-2">
        <div class="card mb-5">
          <label for="quiz_flavor_profile_id_2" >
            <div class="card-body">
              <div class="inner-card-text">
                <input id="quiz_flavor_profile_id_2" type="radio" name="quiz[flavor_profile_id]" value="2">
                <h3 class="text-center"><%= @flavor_profiles[1].name %>
                  </h3>
              </div>
            </div>
          </label>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 offset-md-2">
        <div class="card mb-5">
          <label for="quiz_flavor_profile_id_3" >
            <div class="card-body">
              <div class="inner-card-text">
                <input id="quiz_flavor_profile_id_3" type="radio" name="quiz[flavor_profile_id]" value="3">
                <h3 class="text-center"><%= @flavor_profiles[2].name %>
                  </h3>
              </div>
            </div>
          </label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-5">
          <label for="quiz_flavor_profile_id_4" >
            <div class="card-body">
              <div class="inner-card-text">
                <input id="quiz_flavor_profile_id_4" type="radio" name="quiz[flavor_profile_id]" value="4">
                <h3 class="text-center"><%= @flavor_profiles[3].name %>
                  </h3>
              </div>
            </div>
          </label>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 offset-md-4">
        <div class="card mb-5">
          <label for="quiz_flavor_profile_id_5" >
            <div class="card-body">
              <div class="inner-card-text">
                <input id="quiz_flavor_profile_id_5" type="radio" name="quiz[flavor_profile_id]" value="5">
                <h3 class="text-center"><%= @flavor_profiles[4].name %>
                  </h3>
              </div>
            </div>
          </label>
        </div>
      </div>

    </div>

    <div class="container submit-container">
      <%= f.submit "Finished? Let's move to the next question!", class: "btn btn-lg btn-success", disabled: "disabled" %>
    </div>

  </div>
  <% end %>
</section>

<script type="text/javascript">
  $(document).ready(function() {
     $(".quiz-two .card label").on("click",function() {
          $('.card input:checked').not(this).closest('.card').css("background-color", "white");
          $(this).closest('.card').css("background-color", "green");
      });
  });

$(".quiz-two input:radio").change(function () {$(".btn-success").prop("disabled", false);});

</script>
