<section class="pricing py-5">
  <%= form_for @user, url: quiz_answer_one_path, method: :post do |f| %>
  <div class="container">
      <div class="row">
        <%= render partial: 'rating', collection: @user.ratings, locals: {f: f} %>
      </div>
  </div>
  <div class="container submit-container">
    <%= f.submit "Finished? Let's move to the next question!", class: "btn btn-lg btn-success" %>
  </div>
  <% end %>
</section>

<% if current_user == "impossible" %>
<a href="#" class="btn btn-success text-uppercase"><%= image_tag("thumbs-up.png") %></a>
<a href="#" class="btn btn-danger text-uppercase"><%= image_tag("thumbs-down.png") %></a>
<% end %>
