<div class="col-xl-3 col-md-6 mb-4" style="display:flex;justify-content:center;align-items:flex-end;">
    <div class="card border-0 shadow drink-list">
      <a href="<%= drink_path(drink) %>">
        <img src="<%= drink.image %>" class="card-img-top" alt="<%= drink.name %>">
      <div class="card-body text-center">
        <h5 class="card-title mb-0"><%= drink.name %></h5>
        <div class="card-text text-black-50"><strong>Ingredients:</strong> <%= drink.list_ingredients %></div>
      </div>
    </a>
    </div>
</div>
