<%= form_for @drink do |f| %>
  <h2><%= @drink.name %></h2>
  <%= f.fields_for :measures, @drink.measures do |measures_fields| %>
    <p><%= measures_fields.object.ingredient.name.titleize %>:
      <%= measures_fields.label :size %>
      <%= measures_fields.number_field :size, placeholder: "1 if size unknown", step: 0.25 %> (
      <%= measures_fields.label :measurement_type, "Qualifier: " %>
      <%= measures_fields.select :measurement_type, options_for_select(["cl", "oz", "part(s)", "dash(es)", "(optional)", "unit(s)"]) %>
      )    <%= measures_fields.fields_for :ingredient, measures_fields.object.ingredient do |ingredient_field| %>
              <%= ingredient_field.label :flavor_profile_id, "Select a flavor profile if this ingredient produces it: " %>
              <%= ingredient_field.collection_select :flavor_profile_id, FlavorProfile.all, :id, :name, include_blank: true %>
          <% end %></p>
  <% end %>
  <%= f.submit %>
<% end %>
<%= render 'devise/shared/error_messages', resource: @drink %>
