<%= image_tag "#{@drink.image}", alt: "#{@drink.name}" if @drink.image.present? %>
<br>
<h1><%= @drink.name %></h1>
<h3>Ingredients:</h3>
<% @drink.measures.each do |m| %>
<p><%= m.size %> <%= m.measurement_type %> of <%= m.ingredient.name %><%= " <<lends to a #{m.ingredient.flavor_profile.name.downcase} flavor profile>>" if m.ingredient.flavor_profile %></p>
<% end %>
<p>Preparation: <%= @drink.preparation %></p>
<br>
<%= link_to "Back to New Drink Form", new_drink_path if current_user.admin_access %>
