<h1><%= @drink.name %></h1>
<h3>Ingredients:</h3>
<% @drink.measures.each do |m| %>
<p><%= m.size %> <%= m.measurement_type %> of <%= m.ingredient.name %><%= "  |  lends to a #{m.ingredient.flavor_profile.name.downcase} flavor profile!" if m.ingredient.flavor_profile %></p>
<% end %>
<p>Preparation: <%= @drink.preparation %></p>
